.post_container
  - @ext = get_ext(@post.user.try(:avatar_file_name))

  .image_container
    - if @post.user.try(:avatar_file_name).present? and @ext.present?
      %img.post_image{:src => "https://s3.amazonaws.com/production.keas.com/avatars/#{@post.user.id.to_s}/large.#{@ext}"}
    - else
      = image_tag "/images/default_avatar.gif", :class => "post_image"

  .post_details
    = @post.user.first_name
    = @post.user.last_name

    - ampm = @post.created_at.strftime("%p").downcase
    = @post.created_at.strftime("%B %d, %Y at %I:%M" + ampm)
    %small (utc)

  %p
  .post_body
    = @post.body
    %p
      - @ext = get_ext(@post.photo_file_name)
      - if @ext != nil
        %img{:src => "https://s3.amazonaws.com/production.keas.com/photos/#{@post.id.to_s}/feed.#{@ext}"}