<% if params[:delay]!=nil %>
	<META HTTP-EQUIV="REFRESH" CONTENT="<%= params[:delay] %>">
<% end %>

<% if params[:font_name]!=nil 
		@font_name = params[:font_name]
	else
		@font_name = 'ubuntu'		# default font
end %>

<% if params[:random]!=nil
	@post = Post.random
end %>

<body bgcolor="#0A2A12"> 
<table>
	<tr>
	<td>
		<img src="https://s3.amazonaws.com/production.keas.com/avatars/<%= @post.user.id.to_s %>/large.jpg" /> 

		<font size="6" face="<%= @font_name %>" color="grey">
		<%= @post.user.first_name %> 
                <%= @post.user.last_name %> - 
		<% ampm = @post.created_at.strftime("%p").downcase %>
                <%= @post.created_at.strftime("%B %d, %Y at %I:%M" + ampm) %> <small>(utc)</small>
		</font>
	</td></tr>
	<tr>
	<td>
		<font size="13" face="<%= @font_name %>" color="white">
		<%= @post.body %>
		</font>
	</td></tr>
</table>



